.hero_section_container {
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow-x: clip;
}

.hero_section_container * {
    font-family: var(--font-family);
    font-weight: 400;
    margin: 0px;
}

.hero_section_container h1,
.hero_section_container span {
    font-family: var(--second-family);
    font-size: 84px;
    max-width: 500px;
    line-height: 100%;
    margin: 20px 0px;
}

.purple_text {
    color: #B30DEE;
}

.hero_section_container p {
    font-size: 24px;
}

.hero_section_container div:first-child {
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}

.hero_section_container button {
    border-radius: 32px;
    background: #B30DEE;
    padding: 10px 20px;
    font-size: 18px;
    color: #f8f8f8;
    border: none;
    margin-top: 25px;
    transition: opacity 0.3s;
    cursor: pointer;
}

.hero_section_container button:hover {
    opacity: 0.8;
}

.hero_section_container button:active {
    opacity: 0.7;
}

.hero_section_container img {
    width: 500px;
}

.blurred_svg {
    position: absolute;
    border-radius: 100%;
    fill: #b30dee;
    filter: blur(100px);
    z-index: -99999;
}

.ellipse_1 {
    top: -15%;
    left: -10%;
}

.ellipse_2 {
    right: -10%;
    top: 25%;
}

.ellipse_3 {
    left: 20%;
    top: 50%;
}